.shop-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgb(246, 234, 211);
}